## Compilados do .NET
.bin/
.obj/
.out/
.vs/
.dll/

## Pacotes
*.nupkg
*.snupkg
packages/
*.nuspec

## Configurações locais do VS Code
.vscode/

## Arquivos de log
*.log

## Arquivos temporários
*.tmp
*.temp
*.bak
*.swp
*.swo
*.user
*.sdf
*.cache

## Diretório do ReSharper ou Rider
.idea/
*.DotSettings.user

## Build do Visual Studio
*.dbmdl
*.suo
*.user
*.userosscache
*.sln.docstates

## Diretórios ignoráveis
TestResults/
node_modules/

## Backup de IDEs ou arquivos de merge
*.orig

## Outras extensões comuns a ignorar
*.exe
*.dll
*.pdb
*.mdb
*.class
*.jar

# Sistema operacional (Windows/macOS/Linux)
.DS_Store
Thumbs.db
